@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'cuphead';
    src: url(fonts/CupheadVogue-ExtraBold.otf);
}

@font-face {
    font-family: 'aeonik';
    src: url();
}

body {
    background-color: #B3B3BC;
}

#cupheadheroes{
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    background-color: #ECE8E8;
    margin-bottom: -57px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
#cupheadheroestitulo {
    display: flex;
    justify-content: center;  
    align-items: center; 

    font-family: 'cuphead';
    color: #3d3152;
    font-size: 3em;
}

main {
    max-width: 1400px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#intro {
    background-color: #FFCF10;
    margin-left: -8px;
    margin-right: -8px;
}

.titulos {
    text-align: center;
    font-family: 'Funnel sans';
    font-size: 45px;
    padding: 50px;
}

p, li {
    font-family: 'Funnel sans';
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 30px;
    line-height: 45px;
}

#nomargim {
    padding: 50px;
    margin-bottom: -37px;
}

#section2 {
    background-color: #F4EAE1;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
    padding-bottom: 30px;
}

#section3 {
    background-color: #FFCF10;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -25px;
    padding: 140px;
    padding-top: 50px;
}

#section3 > h1 {
    text-align: center;
    font-family: 'Funnel sans';
    font-size: 50px;
    
}

#imagendefondo {
   background-color: rgb(51, 51, 51);
   background-image: url(imagens/cuphead\ and\ mugman.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: top center;
   color: rgb(0, 0, 0);
   box-shadow: inset;
   margin-left: -8px;
   margin-right: -8px; 
}

#imagendefondo > h2{
    padding: 350px;
    color: rgba(0, 0, 0, 0);

}

#section5 {
    background-color: #ECE8E8;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;
    padding: 70px;
    padding-top: 50px;
}

div.videocuphead {
    background-color: #FFCF10;
    margin-top: 0px;
    margin-right: -8px;
    margin-bottom: 30px;
    margin-left: -8px;
    padding: 20px ;
    padding-bottom: 55%;
    position: relative;
}

div.videocuphead > iframe {
    position: absolute;
    top: 22%;
    left: 22%;
    width: 57%;
    height: 55%;
}

#section6 {
    background-color: #F4EAE1;
    margin-top: -36px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
    padding-bottom: 30px;
    padding: 70px;
}

#section6 > h1 {
    text-align: center;
    font-family: 'Funnel sans';
    font-size: 50px;
    padding: 50px;
}

#imagendefondo2 {
    background-color: rgb(51, 51, 51);
    background-image: url(imagens/cuphead\ mugman\ and\ chalice1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: rgb(0, 0, 0);
    box-shadow: inset;
    margin-top: -25px;
    margin-left: -8px;
    margin-right: -8px; 
}
 
 #imagendefondo2 > h2{
     padding: 350px;
     color: rgba(0, 0, 0, 0);
 
}

#section7 {
    background-color: #B1E2BE;
    margin-top: -36px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
    padding-bottom: 30px;
    padding: 70px;
}

#section7 >h1{
    text-align: center;
    font-family: 'Funnel sans';
    font-size: 50px;
    padding: 50px;
}

footer {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    font-size: 20px; 
    font-family: 'Funnel sans';
    font-weight: 500;
}

a {
    text-decoration: none;
    padding-right: 15px;
}

a:hover {
    text-decoration: underline;
    color: #a7870b;
    font-size: 22px;
}

